.input-container {
	display: flex;
	justify-content: center;
}

h1 {
	font-family: 'Grenze Gotisch', cursive;
	font-weight: 400;
	font-style: normal; 
	font-size: 50px;
	text-align: center;
	padding-bottom: 2%;
	padding-top: 2%;
}

textarea {
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	max-width: 42vw;
	max-height: 40vh;
	resize: none;
	border-radius: 5px;
	padding: 1%;
}

#left {
	margin-right: 0.5%;
}

#right {
	margin-left: 0.5%;
}